DBConnection = "mongodb://localhost:27017"
DB_USER=reak
DB_PASSWORD=reak
DB_NAME=calendarTest2
SESSION_KEY=reakgo
SESSION_NAME=reakgo
WEB_PORT=4000
APPNAME=REAK
APPURL=http://localhost:4000/
FROM_USER=apikey
FROM_EMAIL=user@reak.in
# hash of 123
PASSWORD=123
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
EMAIL_TOKEN_EXPIRE=86400
MQTT_BROKER_URL= mqtt
MQTT_BROKER_PORT = 1883